# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Project specific
datasets/**/*
!datasets/luna16/download.sh
generated_cubes/
pretrained_weights/
notebooks/predictions/
**/.ipynb_checkpoints/
